In [5]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import funciones as f

In [6]:
df = f.cargar_dataset('Athenas_Grecia_Dt.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14642 entries, 0 to 14641
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    14642 non-null  int64
 1   id                                            14642 non-null  int64
 2   last_scraped                                  14642 non-null  object
 3   source                                        14642 non-null  object
 4   host_id                                       14642 non-null  int64
 5   host_response_time                            12903 non-null  object
 6   host_response_rate                            12903 non-null  object
 7   host_acceptance_rate                          13811 non-null  object
 8   host_is_superhost                             13868 non-null  object
 9   host_listings_count                           14642 non-null  int64
 10  host_total_listings_count                     14642 non-null  int64
 11  host_verifications                            14642 non-null  object
 12  neighbourhood                                 7698 non-null   object
 13  latitude                                      14642 non-null  float64
 14  longitude                                     14642 non-null  float64
 15  property_type                                 14642 non-null  object
 16  room_type                                     14642 non-null  object
 17  accommodates                                  14642 non-null  int64
 18  bathrooms                                     13717 non-null  float64
 19  bedrooms                                      14559 non-null  float64
 20  beds                                          13693 non-null  float64
 21  amenities                                     14642 non-null  object
 22  price                                         13722 non-null  object
 23  minimum_nights                                14642 non-null  int64
 24  maximum_nights                                14642 non-null  int64
 25  minimum_minimum_nights                        14642 non-null  int64
 26  maximum_minimum_nights                        14642 non-null  int64
 27  minimum_maximum_nights                        14642 non-null  int64
 28  maximum_maximum_nights                        14642 non-null  int64
 29  minimum_nights_avg_ntm                        14642 non-null  float64
 30  maximum_nights_avg_ntm                        14642 non-null  float64
 31  availability_30                               14642 non-null  int64
 32  availability_60                               14642 non-null  int64
 33  availability_90                               14642 non-null  int64
 34  availability_365                              14642 non-null  int64
 35  number_of_reviews                             14642 non-null  int64
 36  number_of_reviews_ltm                         14642 non-null  int64
 37  number_of_reviews_l30d                        14642 non-null  int64
 38  review_scores_rating                          12329 non-null  float64
 39  review_scores_accuracy                        12329 non-null  float64
 40  review_scores_cleanliness                     12329 non-null  float64
 41  review_scores_checkin                         12329 non-null  float64
 42  review_scores_communication                   12329 non-null  float64
 43  review_scores_location                        12329 non-null  float64
 44  review_scores_value                           12329 non-null  float64
 45  license                                       14448 non-null  object
 46  calculated_host_listings_count                14642 non-null  int64
 47  calculated_host_listings_count_entire_homes   14642 non-null  int64
 48  calculated_host_listings_count_private_rooms  14642 non-null  int64
 49  calculated_host_listings_count_shared_rooms   14642 non-null  int64
 50  reviews_per_month                             12329 non-null  float64
dtypes: float64(15), int64(23), object(13)
memory usage: 5.7+ MB

In [7]:
f.cuenta_nulos(df)

AttributeError: 'list' object has no attribute 'fillna'